.login-bg {
  background-image: url("../assets/img/assets_task_01jv7n9cpmfj8s9bjg8wkk2n0s_1747235242_img_0.webp");
}
h1 {
  color: #ff6b6b;
}
.form-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.form-container.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s 0s;
}

.form-container.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}
